*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #296d98;
}

ul{
    list-style: none;
    margin-top: 15px;
    margin-right: 35px;
}


ul li{
    display: inline-block;   
}

ul li a{
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent; border-radius: 20px;
}

ul li a:hover{
    background-color: #1c4966;
    color: white;
    transition: 0.6s ease;
}

.nav-item a{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

.backfont{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.newarrival{
    background-color: rgb(46, 46, 90);
    width: 50px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.col-md-7 h2,p{
    color:rgb(53, 53, 53);
    line-height: 15px;
    
}

.col-md-7 h2{
    padding-bottom: 15px;
}

#productimg{
    margin-top: 100px;
    padding-bottom: 50px;
}

.Price{
    color: #ce8704;
    font-size: 26px;
    font-weight: bold;
    padding-top: 15px;
}

body{
    background-color: #000000;
    background-image: linear-gradient(rgb(241, 241, 241),rgb(241, 241, 241));
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.btn{
    width: 250px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
}

#b{
    background-color: #4FCE5D;
    color: black;
    border-radius: 20px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
#b:hover {
  background-color: rgb(25, 24, 66);
  color: white;
}

.wts{
    padding-bottom: 0px;
    width: 300px;
    height: 120px;
}

.hi{
    line-height: 25px;
    color: #181818;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.footer-top{
    background-color:  #1b1d30;
    padding-top: 10px;
    height: 140px;
}

footer .row{
    padding-top: 15px;
}

.segment-one p{
    font-size: 16px;
    line-height: 3px;
   font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-top: 20px;
    color: rgb(192, 191, 192);
}

.segment-three h5{
    color: rgb(192, 191, 192);
    margin-left: 15px;
    margin-top: 10px;
}

.segment-three a i{
    font-size: 30px;
    margin: 15px;
    margin-top: 0px;
}   

.segment-three a{
    color: white;
}

.segment-three a:hover{
    color: rgb(255, 136, 0);
}

.footer-bottom{
    background-color:  #16161b;
    height: 60px;
}
.footer-bottom p{
    color: rgb(172, 171, 170);
    margin: 0;
}

.carousel-control-prev{
    background-color: black;
    height: 30px;
    margin-top: 90%;
}
.carousel-control-next{
    background-color: black;
    height: 30px;
    margin-top: 90%;
    width: 50px;
    
    
}




@media(min-width: 992px){
  

}

@media(min-width: 768px) and (max-width: 991px){

body{
        height: 100vh;
        width: auto;
}
    
.col-md-7{
        margin-top: 25px;
        margin-bottom: 50px;
}

.footer-top{
    height: auto;
}

.footer-bottom{
    height: auto;
}

.footer-bottom p{
    line-height: 25px;
}

    
}

@media(min-width: 575px) and (max-width: 767px){

    body{
        height: auto;
        width: auto;
}
    
.col-md-7{
        margin-top: 25px;
        margin-bottom: 50px;
}

.footer-top{
    height: auto;
}

.footer-bottom{
    height: auto;
}

.footer-bottom p{
    line-height: 25px;
}


    
}
@media(min-width: 480px) and (max-width: 574px){

body{
        height: auto;
        width: auto;
}
    
.col-md-7{
        margin-top: 25px;
        margin-bottom: 50px;
}

.footer-top{
    height: auto;
}

.footer-bottom{
    height: auto;
}

.footer-bottom p{
    line-height: 25px;
}

    
}

@media(max-width: 479px){

#productimg{
    padding-top: 0px;  
    margin-top: 80px;
}

body{
    height: auto;
    width: auto;
}

.col-md-7{
    margin-top: 25px;
    margin-bottom: 5px;
}

.footer-top{
    height: auto;
}

.footer-bottom{
    height: auto;
}

.footer-bottom p{
    line-height: 25px;
}





}


